body {
     background: url("webproject/websites,-background-website,-website-design-background-patterns-16814.jpg") no-repeat center center;
     background-size: cover;
    font-family: 'Merriweather';
}

h1 {
    font-family: 'Pangolin', cursive;
    font-size: 40px;
    color: red;
    text-align: center;
}

h4 {
  font-family: 'Merriweather';
  color: green;
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #8c2020;  /*Sets the text hover color on navbar*/
}

hr {
    border-color: inherit;
}

h3 {
  font-family: 'Pangolin', cursive;
  color: blue;
}

h5 {
  font-family: 'Pangolin', cursive;
  color: green;
}

p {
  font-family: 'Pangolin', cursive;
  color: maroon;
}
